<P><strong>Please do not respond to this email as the email address is not monitored.</strong></P>

<p>Welcome to {{ companyDetails.coName }} <strong>{{ name }}</strong>.</p>

<p>Please login into the <a href="{{ url }}" target="_top">{{ companyDetails.coName }} web site.</a></p>

<p>Your username is your email address and your temporary password is <strong>{{ password }}</strong>.</p>
<p>When you first login in you will be asked to change your password before you can use the site.</p>

<p>If you have any queries please do not hesitate to contact us.</p>

<p>Kind Regards</p>
<br/>


<p>
    <b><span style="font-size:7.5pt;font-family:Arial,sans-serif;color:gray;">DISCLAIMER</span></b>
    <span style="font-size:7.5pt;font-family:Arial,sans-serif;color:gray;"> This email and any files transmitted with it are confidential and intended solely for the attention and use of the individual or entity to whom they are addressed. No copyright or other intellectual rights to any material attached to this email, either online or as an attachment </span>
    <span style="font-size:12.0pt;font-family:Times New Roman,serif;color:black;">&nbsp;</span>
    <span style="font-size:7.5pt;font-family:Arial,sans-serif;color:gray;">are transferred to the recipient unless explicitly stated. If you have received this email in error please reply to inform us accordingly, prior to&nbsp; deleting the message. *Terms and Conditions Apply please visit our website or call for full terms</span>
</p>