
{% extends 'baseLogin.html.twig' %}

{% block body %}
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->

                        <div class="row p-3">
                            <div class="col-lg-6 d-none d-lg-block bg-login"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Retrieve Password!</h1>
                                    </div>
                                    {% if message %}
                                        <div>
                                            <div class="bg-success text-white p-3 rounded">{{ message }}</div>
                                        </div>

                                    {% endif %}
                                    {{ form_start(forgotPasswordForm) }}
                                    {{ form_label(forgotPasswordForm.username) }}
                                    <fieldset class="form-group position-relative has-icon-left">
                                        {{ form_widget(forgotPasswordForm.username) }}
                                        <div class="form-control-position">
                                            <i class="icon-mail6"></i>
                                        </div>
                                    </fieldset>
                                    {{ form_end(forgotPasswordForm) }}
                                    <hr>
                                    <div class="text-center">
                                        <a href="{{ path('login') }}" class="card-link pt1">Log In</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


{% endblock %}

