{% extends 'baseLogin.html.twig' %}

{% block body %}
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">

                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Please enter and confirm a new password below.</h1>
                                    </div>
                                    <form method="post" action="">
                                        <div class="passwordMessage alert alert-warning"></div>
                                        <fieldset class="form-group position-relative has-icon-left">
                                            {{ form_widget(form.password.first, {attr:{ 'class':'form-control form-control-lg input-lg', 'id':'first', 'placeholder':'Password'} } ) }}
                                            <div class="form-control-position">
                                                <i class="icon-mail6"></i>
                                            </div>
                                        </fieldset>

                                        {% if form_errors(form.password.first) %}
                                            {{  form_errors(form.password.first) }}
                                        {% endif %}


                                        <fieldset class="form-group position-relative has-icon-left">
                                            {{ form_widget(form.password.second, {attr:{ 'class':'form-control form-control-lg input-lg', 'id':'first', 'placeholder':'Confirm Password'} } ) }}
                                            <div class="form-control-position">
                                                <i class="icon-mail6"></i>
                                            </div>
                                        </fieldset>
                                        {% if form_errors(form.password.second) %}
                                            {{  form_errors(form.password.second) }}
                                        {% endif %}

                                        {{ form_widget(form._token) }}
                                        {{ form_widget(form.save, {attr:{ 'class':'btn btn-info btn-lg btn-block'} } ) }}

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}

{% block pageJavascripts %}
    <script type="text/javascript" src="{{ asset('/js/zxcvbn.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/pwstrength-bootstrap.min.js') }}"></script>
    <script>

        $(document).ready(function () {
            var options = {};
            options.common = {
                zxcvbn:true,
                onLoad: function () {
                    $('.passwordMessage').hide();
                },
                onKeyUp: function (evt, data) {

                    if(data.score >= 26 ){
                        $('#new_password_save').removeAttr("disabled");
                        $('.passwordMessage').hide();
                    }
                    if(data.score < 26 ){
                        $('#new_password_save').attr("disabled", "disabled");
                        $('.passwordMessage').show().html('<div class="col-10 custom-error" role="alert">Your password must be of at least medium strength. Using uppercase, lowercase and special characters will help.  Avoid common words such as password</div>');
                    }

                    $("#length-help-text").html("Current length: " + $(evt.target).val().length + " and score: " + data.score);
                }
            };
            options.ui = {
                bootstrap4:true,
                showVerdictsInsideProgressBar: true
            };
            $('#new_password_password_first').pwstrength(options);
        });
    </script>

{% endblock %}